* { 
    margin: 0; 
    padding: 0;
}

body, html { 
    height: 100%; 
    overflow: hidden;
}

#whiteboard {
    position: absolute;
    left: 2%;
    width: 96%;
    top: 2%;
    height: 96%;
    border: 1px solid black;
}
