* { 
    margin: 0; 
    padding: 0;
}

body, html { 
    height: 100%; 
    overflow: hidden;
    background-color: black;
}

#whiteboard {
    position: absolute;
    left: 1%;
    width: 98%;
    top: 1%;
    height: 98%;
    border: 0px solid black;
}
